@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  background-color: #f0fdf4;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: inherit;
}
